<div id="resultsBox"
    class="md:container md:mx-auto md:w-auto  mt-10 shadow-lg mb-2 bg-[#000000] shadow-lg border rounded-lg ">
    <div class="container mx-auto md:mx-auto md:container">
        <div class="p-5 text-white text-center text-3xl bg-[#04387A]-900">Calculator</div>
        <div class="pt-16 p-5 pb-0 text-white text-right text-3xl bg-[#000000]"></div>
        <div class="p-5 text-white text-right text-3xl bg-[#000000]"><span id="result" class="text-orange-500"></span>
        </div>

        <div class="md:container md:mx-auto">

            <div class="flex items-stretch bg-[#000000] h-24">
                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button
                        class="rounded-full h-20 w-20 flex items-center bg-[#505050] justify-center shadow-lg hover:border-gray-500 focus:outline-none"
                        id="reset">
                        AC
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button id='negative' value="operation"
                        class="rounded-full h-20 w-20 flex items-center bg-[#505050] justify-center shadow-lg hover:border-gray-500 focus:outline-none"
                        value="+/-">
                        +/-
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button id="percentage"
                        class="rounded-full h-20 w-20 flex items-center bg-[#505050] justify-center shadow-lg hover:border-gray-500 focus:outline-none"
                        value="%">
                        %
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button
                        class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center shadow-lg hover:border-gray-500 focus:outline-none"
                        value="operation" value="รท">
                        /
                    </button>
                </div>
            </div>

            <div class="flex items-stretch bg-[#000000] h-24">
                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="7">
                        7
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="8">
                        8
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="9">
                        9
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="*">
                        *
                    </button>
                </div>
            </div>

            <div class="flex items-stretch bg-[#000000] h-24">
                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="4">
                        4
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="5">
                        5
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="6">
                        6
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="-">
                        -
                    </button>
                </div>
            </div>

            <div class="flex items-stretch bg-[#000000] h-24">
                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="1">
                        1
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="2">
                        2
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="3">
                        3
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="+">
                        +
                    </button>
                </div>
            </div>


            <div class="flex items-stretch bg-[#000000] h-24 mb-4">


                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-full flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value="0">
                        0
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-gray-800 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none" value=".">
                        .
                    </button>
                </div>

                <div class="flex-1 px-2 py-2 justify-center flex items-center text-white text-2xl font-semibold">
                    <button id="equal" class="clicked-buttons rounded-full h-20 w-20 flex items-center bg-orange-500 justify-center
                        shadow-lg hover:border-gray-500 focus:outline-none">
                        =
                    </button>
                </div>
            </div>


        </div>

    </div>
</div>